REJESTR_IO_API_KEY=
REJESTR_IO_BASE_URL=https://rejestr.io/api/v2/
REJESTR_IO_CACHE_TTL_SECONDS=300
REJESTR_IO_CACHE_MAX_SIZE=512
REJESTR_IO_DOWNLOAD_DIR=./downloads
MCP_TRANSPORT=stdio
MCP_HTTP_PORT=8000
MCP_HTTP_HOST=127.0.0.1
MCP_HTTP_AUTH_TOKEN=
